﻿<link rel="stylesheet" type="text/css" href="/Content/musicStyle.css"/>

<script>
    function addToPlaylist(trackId) {
        console.log("[SEND] ==> playlistadd");
        $("#playlistaddbtn").attr("disabled", true);
        $.ajax({
            url: '/api/playlist?trackid=' + trackId,
            type: 'put',
            success: function(result) {
                if (result.success) {
                    console.log("Track added to playlist");
                    refreshPlaylistDisplay();
                } else {
                    console.log("Track failed added to playlist");
                }
            }
        });
    }


    function removeFromPlaylist(trackId) {
        console.log("[SEND] ==> deleteplaylist");
        $("#plid-" + trackId).remove();
        $.ajax({
            url: '/api/playlist?trackid=' + trackId,
            type: 'delete',
            success: function(result) {
                if (result.success) {
                    console.log("Track delete from playlist");
                } else {
                    console.log("Track failed delete to playlist");
                }
            }
        });
    }


    function addToPlayListDisplay(id, album_image, name, artist_name) {

        $('#listtrack').append('' +
            '<div class="trackplistrow" id="plid-' + id+'">' +
            '<a id="plid-' + id + '" style="text-decoration: none" onclick="removeFromPlaylist(' + id+')">' +
            '<div class="list-item" data-index="1" style="align-items: unset">' +
            '<div class="hidden-xs thumb" style="margin: 0px"> <img src=' + album_image+' style="width: 32px; height: 32px"/></div>' +
            '<div class="title" style="min-width: 0px; overflow: hidden; text-overflow: ellipsis">' +
            '<span>' + name+'</span>' +
            '<small>' + artist_name+'</small>' +
            '</div>' +
            '</div>' +
            '</a>' +
            '</div>'
            );
    }


    function refreshPlaylistDisplay() {
        console.log("[SEND] ==> refresh playlist");
        $(".trackplistrow").remove();
        $.ajax({
            url: '/api/playlist',
            type: 'get',
            success: function (result) {
                console.log("Playlist loaded");
                result.forEach(function(element) {
                    addToPlayListDisplay(element.id,element.album_image,element.name,element.artist_name);
                });
            }
        });
    }

    $(document).ready(function() {
        refreshPlaylistDisplay();
    });

</script>


<h2>Play music</h2>

<div>
    <h4>Play your music, play your playlist</h4>
    <hr/>
    <dl class="dl-horizontal"></dl>

    <h1>@ViewBag.error</h1>

    @if (ViewBag.error == null)
    {
        <div class="row">
            <div class="col-sm-8 text-center" style="background-color: #ada6a6">
                @if (ViewBag.currentTrack != null)
                {
                    <div class="row">
                        <img src="@ViewBag.currentTrack.album_image" class="playedAlbum"/>
                    </div>
                    <div class="row">

                        <div class="row" style="display: inline-flex">

                            <audio autoplay="autoplay" controls="controls" style="width: 400px;">
                                <source src="@ViewBag.currentTrack.audiodownload" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>

                            <button disabled="@ViewBag.tittleAddedPlaylist" type="button" id="playlistaddbtn" onclick="addToPlaylist(@ViewBag.currentTrack.id)" class="btn btn-primary" style="margin-left: 20px; box-shadow: 9px 9px 18px 0px #000;">Add to playlist</button>
                        
                        </div>


                        <h2>@ViewBag.currentTrack.name</h2>
                        <h4 style="font-style: italic;">@ViewBag.currentTrack.artist_name</h4>
                        <p>
                            @ViewBag.currentTrack.name is a part of @ViewBag.currentTrack.album_name album.
                        </p>
                    </div>
                }


            </div>
            <div class="col-sm-4">
                <div class="wrapper" data-pos="0">
                    <div class="list" id="listtrack">
                        <header>
                            <h2>Your playlist</h2>
                        </header>
                        
                        @if (ViewBag.foundedTracks.Count > 0)
                        {
                            //we doesnt do anything cause JS do that for us now.
                        }
                        else
                        {
                                 <h3 style="text-align: center">Your playlist is empty</h3>
                         
                        }


                    </div>
                </div>
                

            </div>
        </div>
    }



</div>