﻿<link rel="stylesheet" type="text/css" href="/Content/musicStyle.css" />
<link rel="stylesheet" href="/Content/jquery-ui.css">


<script>
    $(function () {
        $("#search").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Music/completeTitle?title=" + request.term,
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                console.log("Selected: " + ui.item.value);
            }
        });
    });


    function formatTime(seconds) {
        var minutes = Math.floor(seconds / 60);
        minutes = minutes >= 10 ? minutes : "" + minutes;
        seconds = Math.floor(seconds % 60);
        seconds = seconds >= 10 ? seconds : "0" + seconds;
        return minutes + ":" + seconds;
    }


</script>






<h2>Track Search Engine</h2>

<div>
    <h4>The power to track tracks</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<div class="col-sm-6 col-sm-offset-3 text-center" style="margin-bottom: 20px; float: none">
    <div class="ui-widget">
        <form action="/Music/SearchTitle" method="get">
            <input type="text" id="search" name="trackname" style="border-radius: 10px; width: 70%; height: 35px;" placeholder="Please enter a track name">
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>


@if (ViewBag.searchedTrack != null)
{
    <div class="wrapper" data-pos="0">
        <div class="list">
            <header>
                <h2>Tracks found for title: @ViewBag.searchedTrack</h2>
            </header>
            
            @if (ViewBag.foundedTracks.Count > 0)
            {
                foreach (var track in ViewBag.foundedTracks)
                 {
                     <a href="/Music/DisplayTitle?trackID=@track.id" style="text-decoration: none">
                         <div class="list-item" data-index="1">
                             <div class="hidden-xs thumb"> <img src=@track.album_image /></div>
                             <div class="title">
                                 <span>@track.name</span>
                                 <small>@track.artist_name</small>
                             </div>
                             <div class="length">
                                 <script>document.write(formatTime(@track.duration));</script>
                             </div>
                         </div>
                     </a>


                 }
            }
            else
            {
                <h2 style="text-align: center">Sorry but we can't find any title :(</h2>
            }



        </div>
    </div>

}






