﻿body {
    font-family: 'Roboto', sans-serif;
    color: #528c49;
    background-color: lightgray;
    background-color: #fff;
}

.wrapper {
    background-color: #f8f8f8;
    position: relative;
    display: flex;
    height: 100%;
    width: 80%;
    margin: 10px auto;
    box-shadow: 0px 2px 15px #ddc;
    /*border-radius: 5px;*/
}

.list {
    width: 100%;
    height: 100%;
}

.list header {
box-shadow: 0 1px 15px #e3e3e3;
text-align: center;
}

.list header > * {
    display: inline-block;
}


.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    height: 84px;
}

.list-item:hover {
    background-color: lightgray
}



.list-item > * {
    display: inline-block;
    vertical-align: middle;
}

.list-item .thumb {
width: 64px;
height: 64px;
margin: 10px;
}

.list-item img {
    position: absolute;
    left: 12px;
    width: 64px;
    height: 64px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #999;
    cursor: pointer;
    z-index: 1;
    transition: all .4s ease;
}


.list-item span {
    margin-bottom: 5px;
}

.list-item small {
    color: #888;
    font-size: 12px;
}

.list-item .title {
    flex-grow: 1;
    padding-left: 5px;
    min-width: 190px
}

.list-item .title > * {
    display: block;
}

.list-item .length {
    padding: 20px;
}