﻿@{
    ViewBag.Title = "Qui sommes-nous ?";
}
<h2>@ViewBag.Title</h2>

<p>
    Avec Supinfy, retrouvez la musique adaptée à chaque moment, sur mobile, ordinateur, tablette et plus encore.

    Supinfy compte des millions de titres. Pour une soirée, une séance de sport ou un moment de détente, la musique qu'il vous faut est à portée de main.


    Mettez votre vie en musique avec Supinfy. Ecoutez gratuitement.
</p>
