﻿
<h3>@ViewBag.Message</h3>

<address>
    Supinfy<br />
    221B Baker Street London<br />
    <abbr title="Phone">Tel :</abbr>
    425.666.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@supinfy.com">Support@supinfy.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@supinfy.com">Marketing@supinfy.com</a>
</address>