﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
         <h1>De la musique pour tous. </h1>
     <p class="lead">Des millions de titres. Aucune carte de crédit nécessaire.</p>
     <img src="\Content\images\test.png" alt="Background" align="middle" width="1000" height="300"/>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            <img src="\Content\images\feet.png" alt="Pochettes album cultes" align="middle" width="1000" height="300"/>
        </p>
        <p><a class="btn btn-default" href="http://localhost:51784/Music/SearchTitle"> Let's go ! &raquo;</a></p>
    </div>
</div>