﻿<link rel="stylesheet" type="text/css" href="/Content/musicStyle.css" />
<style>
    .topten_number {
 justify-content:center;
 display:flex;
 align-items:center;
 font-size: 30px;
 color: #222;
}
</style>






<div class="wrapper" data-pos="0">
    <div class="list">
        <header>
            <h2>Mon top 10</h2>
        </header>
        @if (ViewBag.TopTen == null)
        {
            <div>Can't load top :(</div>
                    }
                    else
                    {
                        var x = 1;
                        foreach (var musicClassement in ViewBag.TopTen)
                        {
                <a href="/Music/DisplayTitle?trackIDs" style="text-decoration: none">
                    <div class="list-item" data-index="1">
                        <div class="hidden-xs thumb topten_number"> @x </div>
                        <div class="title">
                            <span>@musicClassement.titre</span>
                            <small>@musicClassement.artiste</small>
                        </div>
                        <div class="length">
                            écouté @musicClassement.listenNumber fois
                        </div>
                    </div>
                </a>
                x++;

            }
        }




    </div>
</div>





